{
  "itemId": "{{profile_id}}",
  "itemType": "propertyType",
  "target": "profiles",
  "defaultValue": "",
  "dateRanges": [],
  "numericRanges": [],
  "ipRanges": [],
  "automaticMappingsFrom": [],
  "rank": "101",
  "mergeStrategy": "{{profile_mergeStrategy}}",
  "childPropertyTypes": [],
  "protected": true,
  "metadata": {
    "id": "{{profile_id}}",
    "name": "{{profile_name}}",
    "description": "{{profile_description}}",
    "tags": ["sitecoreProfileProperty"],
    "systemTags": [
      "personalProfileProperties",
      "profileProperties",
      "properties"
    ],
    "enabled": true,
    "missingPlugins": false,
    "hidden": false,
    "readOnly": false
  },
  "type": "{{profile_datatype}}"
}