apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: unomi-applications
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/sekharrfk/rfk-data-unomi-config-test
    targetRevision: staging-deployment
    path: infra/k8s/argocd/staging/child-applications
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      selfHeal: true
      prune: true