apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: unomi-applications
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/sekharrfk/rfk-data-unomi-config-test
    targetRevision: main
    path: infra/k8s/argocd/prod-eu/child-applications
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      selfHeal: true
      prune: true